snippet fcom "React fuction component" b
const ${1:Component} = (): React.ReactElement => {
	return <di>test</div>;
}
endsnippet

snippet ccom "React class component" b
class ${1:Component} extends React.Component {
	render() {
		return <div></div>
	};
}
endsnippet
