snippet imr "Import react" b
import React, { ${1:useState} } from "react";
endsnippet

snippet fcom "React fuction component" b
const ${1:Component} = (): React.ReactElement => {
	return <div></div>;
}
endsnippet

snippet ccom "React class component" b
class ${1:Component} extends React.Component {
	render() {
		return <div></div>
	};
}
endsnippet
